.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/discord/
.fehbg
.gitconfig
.gnupg/
.lesshst
.local/
.mozilla/
.npm/
.pki/
.ssh/
.wget-hsts
.zcompdump
.zcompdump-travelscreen-5.9
.zcompdump-travelscreen-5.9.zwc
.zsh_history
Desktop/
Downloads/
Skolarbete/
builds/
comics/
docs/
go/
pics/
recorver_zshrc.var
vids/
spotify/
GIMP/
Kitware/
dconf/
libfm/
mimeapps.list
mozilla/
obs-studio/
pavucontrol.ini
vlc/
xfce4/
.config/QtProject.conf
.config/pulse/
.config/session/
.config/supertuxkart/
.config/sxhkd/
.config/systemd/
.config/vifm/
.config/bashtop/
.config/cava/
.config/flameshot/
.config/htop/
.config/qutebrowser/
initrc-conf
