.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.config/GIMP/
.config/Kitware/
.config/QtProject.conf
.config/bashtop/
.config/catt/
.config/cava/
.config/dconf/
.config/discord/
.config/flameshot/
.config/go/
.config/htop/
.config/libfm/
.config/mimeapps.list
.config/mozilla/
.config/obs-studio/
.config/pavucontrol.ini
.config/pulse/
.config/qutebrowser/
.config/session/
.config/spotify/
.config/supertuxkart/
.config/sxhkd/
.config/systemd/
.config/vifm/
.config/vlc/
.config/xfce4/
.deno/
.fehbg
.gitconfig
.gnupg/
.lesshst
.librewolf/
.local/
.mozilla/
.npm/
.pki/
.profile
.ssh/
.wget-hsts
.zcompdump
.zcompdump-travelscreen-5.9
.zcompdump-travelscreen-5.9.zwc
.zsh_history
Desktop/
Downloads/
Skolarbete/
builds/
comics/
docs/
go/
initrc-conf
pics/
recorver_zshrc.var
vids/
.config/qtile/__pycache__/
