.config/grub-themes/
.Xauthority
.cache/
.cargo/
.config/BraveSoftware/
.config/FreeCAD/
.config/GIMP/
.config/Kitware/
.config/MKV Extractor Qt5.conf
.config/QtProject.conf
.config/VirtualBox/
.config/audacity/
.config/bashtop/
.config/btop/
.config/bunkus.org/
.config/catt/
.config/cava/
.config/chromium/
.config/dconf/
.config/discord/
.config/flameshot/
.config/go/
.config/gochromecast
.config/gtk-3.0/
.config/htop/
.config/jellyfin/
.config/kritadisplayrc
.config/kritarc
.config/libfm/
.config/mimeapps.list
.config/mozilla/
.config/mpd/playlists/
.config/pavucontrol.ini
.config/puddletag/
.config/pulse/
.config/qBittorrent/
.config/qtile/__pycache__/
.config/rmpc/config-default
.config/session/
.config/spotify/
.config/sxhkd/
.config/systemd/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/whoozle.github.io/
.config/wireshark/
.deno/
.fehbg
.gitconfig
.gnupg/
.java/
.lesshst
.librewolf/
.local/
.log
.mozilla/
.npm/
.pki/
.profile
.pulse-cookie
.recently-used
.ssh/
.steam/
.steampath
.steampid
.thunderbird/
.wget-hsts
.zcompdump
.zcompdump-travelscreen-5.9
.zcompdump-travelscreen-5.9.zwc
3DS-Stuff/
Desktop/
Downloads/
Skolarbete/
VirtualBox VMs/
builds/
comics/
docs/
go/
initrc-conf
music/
pics/
vids/
